{
 {{namespace}}.ports.sql.core/url        "jdbc:postgresql://0.0.0.0:5432/{{namespace}}"
 {{namespace}}.ports.sql.core/username   "admin"
 {{namespace}}.ports.sql.core/password   "admin"
 {{namespace}}.configs/env               "dev"
 {{namespace}}.configs/user-passphrase   "dobry den"
 {{namespace}}.configs/admin-passphrase  "dobrou noc"
 }
